
/** Page modes **/

:root {
  --color: #1c1c1c;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #d9d9d9;
  --bg-secondary: #f2f2f2;
  --border-color: #737373;
  --hover-color: #5d8bad;
  --header-color: #f3f5f4;
  --revbg-color: #161616a;
  --toggler-color: rgba(0, 0, 0, 0.1);
  --toggler-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.dark-mode {
  --color: #cccccc;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #1c1c1c;
  --bg-secondary: #071521;
  --border-color: #999999;
  --hover-color: #ff0000;
  --header-color: #161616;
  --revbg-color: #f3f5f4;
  --toggler-color: rgba(255, 255, 255, 0.1);
  --toggler-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

/** Default resets **/

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

.container-fluid {
  padding: 0 7.5px 0 7.5px;
  margin: 0 auto 0 auto;
}

body,
div#__layout {
  font-family: 'Noto Sans', sans-serif;
  background: var(--bg);
  color: var(--color);
}

div#main {
  width: 70%;
}

@media only all and (max-width: 992px) {
  div#main {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

footer {
  background: var(--header-color);
  box-shadow: 0px 1px 10px var(--border-color),
    0 1px 1px var(--border-color);
  p {
    margin: 0;
  }
}

/** Animation / Transition **/

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

body,
div#__layout,
nav.navbar,
div#ctf-page,
.nav-header-links {
  transition: background .7s ease-in-out;
}

/** Components **/
/* Header */

nav .navbar-brand {
  display: flex;
  padding: 0;
}

nav.navbar {
  margin-bottom: .5em;
}

nav.navbar,
nav .menu-item .sub-menu {
  background: var(--header-color);
  box-shadow: 0 1px 10px var(--border-color),
    0 1px 1px var(--border-color);
}

nav .menu-item .sub-menu {
  position: absolute;
  padding: .6em .6em;
  font-size: .75em;
  width: max-content;
  z-index: 1;
  box-shadow: 0 3px 3px var(--border-color)
}

.fade-enter-active,
.fade-leave-active {
  transition: all .5s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

nav div.site-title-box {
  font-size: inherit;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}  

div.site-title-box a.title {
  text-decoration: none;
  color: var(--color);
}

nav .csr-box {
  flex-grow: 1;
  padding: 0 0 .2em .2em;
}

nav.navbar ul li {
  list-style-type: none;
}


ul li a.head-link {
  text-decoration: none;
  color: var(--color);
  transition: .5s ease-out;
}

ul li a.head-link:hover {
  color: var(--hover-color);
  transition: .5s ease-out;
  text-shadow: 0 0 1px var(--hover-color),
    0 0 5px var(--hover-color);
}
nav .navbar-nav li  {
  padding: 0 1em 0 1em;
}

button.navbar-toggler.collapsed:focus,
button.navbar-toggler.not-collapsed:focus {
  outline: none;
}

button.navbar-toggler.not-collapsed {
  border: solid var(--toggler-color) 1px;
  transition: .5s ease-out;
}

button.navbar-toggler.not-collapsed:active,
button.navbar-toggler.collapsed:active {
  background: var(--border-color);
  transition: .5s ease-out;
}

button .navbar-toggler-icon {
  background-image: var(--toggler-image);
}

.nav-item .no-glow:hover {
  transition: none;
  color: var(--color);
  text-shadow: none;
  cursor: default;
}

span.mobile-view,
.r-panel {
  display: none;
}

span.desktop-view, 
.p-index, 
.p-about,
.l-panel {
  display: inline-block;
}

@media only all and (max-width: 992px) {
  span.mobile-view, 
  .r-panel {  
    display: inline-block;
  }
  
  span.desktop-view, 
  .p-index,
  .l-panel {
    display: none;
  }
}

/* cursor animation */

.cursor {
  font-size: .85em;
  animation: fadein 1.3s infinite;
  -moz-animation: fadein 1.3s infinite;
  -webkit-animation: fadein 1.3s infinite;
  -o-animation: fadein 1.3s step-end infinite;
}

@keyframes fadein {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


/** Pages **/

div#about-page,
div#start-page {
    display: flex;
    
}

#start-page div.pf-component,
#about-page div.pf-component {
    width: 30%;
    
}

div.blog-content,
div.about-content {
    width: 70%;
      flex-grow: 1;
      
}

@media only all and (max-width: 992px) {
  div.blog-content,
  div.about-content {
    flex-grow: 0;
  }

  div#start-page,
  div#about-page {
    display: block;
  }  

  h2.alias {
    font-size: 5vh;      
  }
  
}


/**ctf page**/

div#ctf-page {
  padding-top: 1em;
  background: var(--header-color);
  box-shadow: 0 1px 10px var(--border-color),
    0 1px 1px var(--border-color);
  height: 630px;
  margin: 0 0 .5em 0;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

div#ctf-page .page-title {
  font-size: 3em;
  margin: 1em 0 1em 0;
}

div#ctf-page .sub-title-box {
  padding: 1em 1.5em 1em 1.5em;
}

div#ctf-page .nav-header-links {
  background: var(--header-color);
  border-radius: 1.5em;
  margin: 0 0 1em 2.5em;
  padding: .5em 0;
  width: 12%;
  box-shadow: 0 1px 10px var(--border-color),
    0 1px 1px var(--border-color);
}

div#ctf-page .link-inner {
  margin: 0 1em 0 1em;
}

@media only all and (max-width: 1240px) {
  div#ctf-page .nav-header-links {
    width: 15%;
  }
}

@media only all and (max-width: 992px) {
  div#ctf-page {
    height: 100%;
  }
  div#ctf-page .nav-header-links {
    width: 15%;
  }
}

@media only all and (max-width: 576px) {
  div#ctf-page {
    height: 100%;
  }
  div#ctf-page .nav-header-links {
    width: 30%;
    margin: 0 0 1em 1em;
  }
}
